@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Great+Vibes&family=Italiana&family=Petit+Formal+Script&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;

}
.ant-modal-body{
    padding: 0 !important;
    width: 100% !important;
    z-index: 999999999 !important;

}
.ant-modal{
    width: 100% !important;
    max-width: 1300px;
}
.ant-tabs-tab-active{
    background-color: white !important;
    color: #7C6B50 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #7C6B50 !important;

}
.ant-tabs-tab{
    font-family: "PT Serif", serif;
    font-size: 20px;
    color: white;
}

.ant-tabs-content-holder{
    background-color: white;
    padding: 0 50px 50px 50px;
    background-image: url('../images/tabs-back.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px;
}

.ant-tabs-nav-list{
    background-color: #C7AE86 !important;
    padding:50px 50px;
}
.ant-tabs-ink-bar{
    background: none !important;
}
.ant-tabs-tab-btn:hover{
    color:#7C6B50;
}
.ant-tabs-tab:hover{
    color:#7C6B50;
}
.quote{
    padding-bottom: 50px;
}
.ant-drawer-header{
    border: none !important;
}
.ant-drawer-close{
    margin-top:1rem;
    margin-left:auto;
    margin-right:0;
    color: #202020;
    font-weight: 900;
}
.ant-drawer-close:hover{
    color: grey;
}
.ant-drawer-wrapper-body{
    /* background-image: url('../images/paper.webp'); */
    background: #f8f8f8;  /* fallback for old browsers */
}
.ant-drawer-body{
position: relative;

}
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  
  }
  *::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.ant-drawer-content-wrapper{
    width: 437px !important;
}

